venv/
mi_entorno/
__pycache__/
*.pyc
*.sqlite3
db.sqlite3
*.log
*.pot
*.py[cod]
*.env
.env
/staticfiles/
.DS_Store
.idea/
.vscode/
genetic_algorithm/migrations/*.py
!genetic_algorithm/migrations/__init__.py
genetic_algorithm/migrations/*.pyc